run = "npm run start"
modules = ["nodejs-23", "python-3.11"]

[deployment]
run = ["sh", "-c", "npm run start"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 5174
externalPort = 3000

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 36693875

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev -- --host"
